body {
    font-family: sans-serif;
    line-height: 1.2; 
    background-color: #292a2d; 
    color: white;
    text-align: center;
    font-size: 14px;

}

li, h1, h2 {
    margin: 0;
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

ul {
    margin: 0;
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.gg {
    position: fixed;
    margin-top: 10%;
    padding: 1%;
    left: 0%;
    width: 80%;
    margin-bottom: 40%;
    box-shadow:
    0 0 15px #fff,
    -5px -5px 10px #f0f,
    5px 5px 10px #0ff;
    opacity: 0%;
    border-radius: 10px;
}

.helper {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1%;
    height: inherit;
    align-items: end;
    text-align: center;
    background-color: #292a2d;
}

.textbox {
    bottom: 1em;
    position: relative;
    margin-top: 1em;
    padding: 1%;
    left: 9%;
    width: 80%;
    background-color: rgb(0, 0, 0);
    border-radius: 40px 40px 40px 5px;
    border: 2px #00c2cb ;
    background-color: #404045;
}

div.glow {
    position: fixed;
    bottom: 1em;
    left: 3% ;
    width: 5vmin;
    height: 5vmin;
    border-radius: 50%;
    box-shadow: inset 0 0 12px #fff,
    inset 2vmin 0 10px #f0f,
    inset -15px 0 45px #0ff,
    inset 10px 0 50px #f0f,
    inset -10px 0 50px #0ff,
    0 0 2vmin #fff,
    -1vmin 0 3vmin #f0f,
    1vmin 0 3vmin #0ff;

    
}

img {
    position: fixed;
    width: 5vmin;
    bottom: 10px;
    right: 10px;
}


.input {
    background: none;
    padding: 5px;
    border: none;
    color: white;
    box-shadow:
    0 0 10px #fff,
    -2px -2px 3px #f0f,
    2px 2px 3px #0ff;
    border-radius: 2vmin;
    margin: 10px;
    font-size: 20px;
}

#notify {
    position: fixed;
    left: calc(50% - 7em);
    background-color: rgba(0, 0, 0, 0.407);
    width: 15em;
    padding: 10px 0 10px 0;
    border-radius: 1em;
    opacity: 0;
    transition: all 5s ;
}



@keyframes notif {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
    }
}
